.main
    position: relative
    &__green
       
        background-color: $base-color__green
    &__pink
        display: flex
        background-color: $base-color__pink
        width: 100%
    &-text
        display: flex
        padding-left: 700px
        padding-top: 50px
        padding-bottom: 150px
        flex-direction: column
        width: 30%

    &-title
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31)
        color: #ffffff
        font-family: Raleway
        font-size: 43px
        font-weight: 400
        line-height: 60px
        letter-spacing: 0.21px
    &-subtitle
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.33)
        color: #474747
        font-family: "PT Sans"
        font-size: 15px
        font-weight: 400
        line-height: 26px
        font-weight: bold
    &-img
        position: absolute
        padding: 50px 50px
.button
    &__green
        text-decoration: none
        width: 218px
        
        background-color: $base-color__green
        margin-left: 700px
        margin-top: 40px
        margin-bottom: 40px
        text-align: center
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31)
        color: #ffffff
        font-family: "PT Sans"
        font-size: 18px
        font-weight: 400
        line-height: 20px
        padding-top: 10px
        height: 30px
    &__gray
        text-decoration: none
        padding-top: 10px
        width: 139px
        height: 30px
        background-color: #474747
        margin-top: 40px
        margin-bottom: 40px
        text-align: center
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31)
        color: #ffffff
        font-family: "PT Sans"
        font-size: 18px
        font-weight: 400
        line-height: 20px
        margin-left: 30px


    

    
    